# Shit created by TeXShop/pdflatex
*.aux
*.log
*.synctex*
/spikes.pdf
*.fls
*.out

# Ignore everything in /build/ except PDFs.
# The first rule here is to override my global gitignore
!/build/
/build/*
!/build/*.pdf
